# Ignore virtual environment
.venv/

# Ignore PyCharm settings
.idea/

# Ignore environment variables
.env

# Ignore Google credentials (VERY IMPORTANT)
google_Credential.json





# Ignore Python cache
__pycache__/
*.pyc
